---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* bigger screen*/
@media (min-width: 80em) { .masthead__inner-wrap { max-width: 1800px; } }
@media (min-width: 80em) { #main { max-width: 1800px; } }
@media (min-width: 80em) { .breadcrumbs { max-width: 1800px; } }
@media (min-width: 80em) { .page__footer footer { max-width: 1800px; } }
@media (min-width: 80em) { .search-content__inner-wrap { max-width: 1800px; } }

/*見出しの書式*/
section.page__content h2 {
    border-bottom: solid 1.5px black;
}

section.page__content h3 {
    border-bottom: dotted 1px gray;
}

section.page__content h4 {
    font-size: 1em;
    display:inline-block;
    border-bottom: dotted 0.5px gray;
}

.sticky_table thead th {
    /* 縦スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* tbody内のセルより手前に表示する */
    z-index: 1;
}

.sticky_table th:first-child {
    /* 横スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}

.sticky_table thead th:first-child {
    /* ヘッダー行内の他のセルより手前に表示する */
    z-index: 2;
}

.sticky_table tbody td:first-child {
    /* ヘッダー列内の他のセルより手前に表示する */
    z-index: 2;
}

figure img {
    width: auto;
}

pre { color: #FFFFFF; }

//font awesome color
.font-green {
    color: limegreen;
}

.cubing-icon-fa{
    width: 1.50em;
}