---
---
@import "{{ site.theme }}";

/*単一ページ用のCSSを定義。ヘッダーとフッターを利用しない場合を想定。*/
/*float:leftレイアウトを解消*/
//header {width: auto; float: none;}
//section {float: none;}
/*見出しの書式*/
h2 {
    border-left: solid 10px navy;
    border-bottom: solid 1px navy;
    color: navy;
    padding: 0.5em;
}
h3 {
    border-bottom: solid 1px black;
}

header h2{
    background: none;
    color: black;
    border-bottom: solid 1px black;
}

div.wrapper-auto { width: auto; }

section.section-auto { width: auto; float: none;}

section p {padding-left: 30px;}